<div class="eui-component-wrapper">
  <button {{action "prev"}} {{bind-attr disabled="isPrevDisabled"}} class="eui-icon eui-icon--previous eui-previous"></button>
  <button {{action "next"}} {{bind-attr disabled="isNextDisabled"}} class="eui-icon eui-icon--next eui-next"></button>

  <div class="eui-month-container">
    <header>
      {{monthLabel}}
    </header>
    {{eui-month
      month=month
      selection=_selection
      disabledDates=disabledDates
      maxPastDate=maxPastDate
      maxFutureDate=maxFutureDate
      select="dateSelected"}}
  </div>

  {{#if showNextMonth}}
    <div class="eui-month-container">
      <header>
        {{nextMonthLabel}}
      </header>
      {{eui-month
        month=nextMonth
        selection=_selection
        disabledDates=disabledDates
        maxPastDate=maxPastDate
        maxFutureDate=maxFutureDate
        select="dateSelected"}}
    </div>
  {{/if}}
</div>
