<h1>\{{eui-calendar}}</h1>

<div class="intro">
  A calendar with a speedy month view.
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-style">style</a></li>

  <li class="header">Attributes</li>
  <li><a href="#section-allowmultiple">allowMultiple</a></li>
  <li><a href="#section-continuousselection">continuousSelection</a></li>
  <li><a href="#section-disableddates">disabledDates</a></li>
  <li><a href="#section-disablefuture">disableFuture</a></li>
  <li><a href="#section-disablepast">disablePast</a></li>
  <li><a href="#section-maxfuturedate">maxFutureDate</a></li>
  <li><a href="#section-maxpastdate">maxPastDate</a></li>
  <li><a href="#section-month">month</a></li>
  <li><a href="#section-selectaction">selectAction</a></li>
  <li><a href="#section-selection">selection</a></li>
  <li><a href="#section-shownextmonth">showNextMonth</a></li>
  <li><a href="#section-showprevmonth">showPrevMonth</a></li>
</ul>

<h4 id="section-style">style <span>string</span></h4>
<p>
  The aesthetic style of the calendar.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>default (default)</li>
  <li>popup</li>
</ul>

<p>The <em>popup</em> style is used by the <em>selectdate</em> component.</p>

<pre>\{{eui-calendar style="default"}}</pre>

<div class="output">
  {{eui-calendar style="default"}} <br/><br/>
</div>


<h4 id="section-allowmultiple">allowMultiple <span>boolean</span></h4>
<p>
  Set to <em>true</em> to allow the user to select multiple days. If you pass in an array of moments for <em>selection</em> then this property must be set to <em>true</em>.
</p>


<h4 id="section-continuousselection">continuousSelection <span>boolean</span></h4>
<p>
  Defaults to <em>true</em>. Set to <em>false</em> to allow the user to select multiple days not adjacent to each other. Clicking on a day will toggle its selection state. Requires <em>allowMultiple</em> to be set to <em>true</em>.
</p>

<pre>selectedScatteredDates: [
  moment('2014-04-21'),
  moment('2014-04-25'),
  moment('2014-04-29'),
  moment('2014-04-30')
]</pre>


<pre>\{{eui-calendar selectionBinding="selectedScatteredDates" allowMultiple=true continuousSelection=false}}</pre>

<div class="output">
  {{eui-calendar selectionBinding="selectedScatteredDates" allowMultiple=true continuousSelection=false}}
</div>


<h4 id="section-disableddates">disabledDates <span>array of monents</span></h4>
<p>
  Dates to indicate as disabled.
</p>

<pre>disabledDates: [
  moment('2014-04-25'),
  moment('2014-04-26')
]</pre>

<pre>\{{eui-calendar disabledDatesBinding="disabledDates"}}</pre>

<div class="output">
  {{eui-calendar disabledDatesBinding="disabledDates"}}
</div>


<h4 id="section-disablefuture">disableFuture <span>boolean</span></h4>
<p>
  Prevents the user from navigating into the future. Defaults to false.
</p>

<pre>\{{eui-calendar disableFuture=true}}</pre>

<div class="output">
  {{eui-calendar disableFuture=true}}
</div>


<h4 id="section-disablepast">disablePast <span>boolean</span></h4>
<p>
  Prevents the user from navigating into the past. Defaults to false.
</p>

<pre>\{{eui-calendar disablePast=true}}</pre>

<div class="output">
  {{eui-calendar disablePast=true}}
</div>


<h4 id="section-maxfuturedate">maxFutureDate <span>moment</span></h4>
<p>
  Maximum future date.
</p>

<pre>maxFutureDate: moment()</pre>

<pre>\{{eui-calendar maxFutureDate=maxFutureDate}}</pre>

<div class="output">
  {{eui-calendar maxFutureDate=maxFutureDate}}
</div>


<h4 id="section-maxpastdate">maxPastDate <span>moment</span></h4>
<p>
  Maximum past date.
</p>

<pre>maxPastDate: moment()</pre>

<pre>\{{eui-calendar maxPastDate=maxPastDate}}</pre>

<div class="output">
  {{eui-calendar maxPastDate=maxPastDate}}
</div>


<h4 id="section-month">month <span>monent</span></h4>
<p>
  The explicit month you want to render.
</p>


<h4 id="section-selectaction">selectAction <span>action</span></h4>
<p>
  Will fire this event with the selected moment when the user selects a date
</p>


<h4 id="section-selection">selection <span>monent | array of moments</span></h4>
<p>
  Dates to indicate as selected.
</p>

<pre>selectedDates: [
  moment('2014-04-25'),
  moment('2014-04-26')
]</pre>

<pre>\{{eui-calendar selectionBinding="selectedDates" allowMultiple=true}}</pre>

<div class="output">
  {{eui-calendar selectionBinding="selectedDates" allowMultiple=true}}
</div>


<h4 id="section-shownextmonth">showNextMonth <span>boolean</span></h4>
<p>
  Show or hide the next month. Defaults to true.
</p>

<pre>\{{eui-calendar showNextMonth=false}}</pre>

<div class="output">
  {{eui-calendar showNextMonth=false}}
</div>


<h4 id="section-showprevmonth">showPrevMonth <span>boolean</span></h4>
<p>
  Show or hide the previous month. Defaults to false.
</p>

<pre>\{{eui-calendar showPrevMonth=true}}</pre>

<div class="output">
  {{eui-calendar showPrevMonth=true style="popup"}}
</div>
