<h1>\{{eui-checkbox}}</h1>

<div class="intro">
  A reimplementation of the browser checkbox input to support custom styling and error handling.
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-class">class</a></li>
  <li><a href="#section-label">label</a></li>
  <li><a href="#section-size">size</a></li>
  <li><a href="#section-style">style</a></li>

  <li class="header">States</li>
  <li><a href="#section-disabled">disabled</a></li>

  <li class="header">Error Handling</li>
  <li><a href="#section-error">error</a></li>
  <li><a href="#section-forceerrorcheck">forceErrorCheck</a></li>
</ul>


<h4 id="section-class">class <span>string</span></h4>
<p>
  Assigns a custom CSS class to the checkbox.
</p>


<h4 id="section-label">label <span>string</span></h4>
<p>
  The text displayed next to the checkbox.
</p>

<pre>\{{eui-checkbox label='Remember me'}}</pre>

<div class="output">
  {{eui-checkbox label='Remember me'}}
</div>


<h4 id="section-size">size <span>string</span></h4>
<p>
  Controls the size of the checkbox.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>medium (default)</li>
</ul>
<p>
  Additional sizes can be added via CSS. See {{link-to "Theming" "documentation.theming"}}
</p>


<h4 id="section-style">style <span>string</span></h4>
<p>
  The aesthetic style of the button.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>default (default)</li>
</ul>


<h4 id="section-disabled">disabled <span>boolean</span></h4>
<p>
  Disables the checkbox.
</p>

<pre>\{{eui-checkbox label='Enabled' disabled=true}}
\{{eui-checkbox label='Checked' value=true disabled=true}}</pre>

<div class="output">
  {{eui-checkbox label='Unchecked' disabled=true}}
  {{eui-checkbox label='Checked' value=true disabled=true}}
</div>


<h4 id="section-error">error <span>boolean | string</span></h4>
<p>
  Responsible for validation and error handling. See {{link-to "Error Handling" "documentation.errorhandling"}}
</p>


<h4 id="section-forceerrorcheck">forceErrorCheck <span>boolean</span></h4>
<p>
  If set to <em>true</em> the input will force an error check, even if the value is blank.
</p>
