<h1>Layout</h1>

<div class="intro">
  All components are available in several sizes to allow for easy layout and a clear hierarchy.
</div>

<p>
  EmberUI does not try to replicate what css frameworks such as Bootstrap try to do. Components are structured such that they are easy to use together using your own custom CSS.
</p>

<h2>Working with components</h2>

<p>
  All components are designed to work together when the same size is specified. If there is no line break they will flow onto the same line and align with each other.
</p>

<pre>\{{#eui-input}}
  \{{input type="text" placeholder="Name"}}
\{{/eui-input}}

\{{#eui-input}}
  \{{input type="text" placeholder="Email Address"}}
\{{/eui-input}}

\{{#eui-button}}
  Signup
\{{/eui-button}}</pre>

<div class="output">
  {{#eui-input}}
    {{input type="text" placeholder="Name"}}
  {{/eui-input}}

  {{#eui-input}}
    {{input type="text" placeholder="Email Address"}}
  {{/eui-input}}

  {{#eui-button}}
    Signup
  {{/eui-button}}
</div>

<p>
  Components are set to display as inline-block items via css. If you put two components of different sizes next to each other they will vertically align.
</p>

<pre>\{{#eui-input size="large"}}
  \{{input type="text" placeholder="Todo"}}
\{{/eui-input}}

\{{#eui-button size="small"}}
  Add
\{{/eui-button}}</pre>

<div class="output">
  {{#eui-input size="large"}}
    {{input type="text" placeholder="Todo"}}
  {{/eui-input}}

  {{#eui-button size="small"}}
    Add
  {{/eui-button}}
</div>
