<h1>\{{eui-select}}</h1>

<div class="intro">
  A reimplementation of the standard browser select with added support for error handling, and search.
</div>

<p>
  The <em>select</em> uses a popup to query the user's selection.
</p>
<p>
  To make it easy to navigate for the user search support is provided. Simply start typing while the <em>select</em> is open to filter the options.
</p>

<div class="output">
  {{#eui-select
    placeholder='Countries'
    valuePath='code'
    optionsBinding='fullCountryList' as |option index|}}
    {{option.name}}
  {{/eui-select}}
</div>

<p>
  The <em>select</em> prevents the page from scrolling while it is open.
</p>


<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-listwidth">listWidth</a></li>
  <li><a href="#section-size">size</a></li>
  <li><a href="#section-style">style</a></li>
  <li><a href="#section-width">width</a></li>

  <li class="header">States</li>
  <li><a href="#section-disabled">disabled</a></li>

  <li class="header">Attributes</li>
  <li><a href="#section-options">options</a></li>
  <li><a href="#section-placeholder">placeholder</a></li>
  <li><a href="#section-required">required</a></li>
  <li><a href="#section-selection">selection</a></li>
  <li><a href="#section-value">value</a></li>
  <li><a href="#section-valuepath">valuePath</a></li>

  <li class="header">Error Handling</li>
  <li><a href="#section-error">error</a></li>
  <li><a href="#section-forceerrorcheck">forceErrorCheck</a></li>

  <li class="header">Events</li>
  <li><a href="#section-onchange">onChange</a></li>
</ul>


<h4 id="section-listwidth">listWidth <span>string</span></h4>
<p>
  Width of the popup. You must pass in a CSS size value with the unit. The select uses CSS box-sizing to ensure precentage-based sizes are actual sizes. A width smaller than the width of the select will be ignored.
</p>


<h4 id="section-size">size <span>string</span></h4>
<p>
  The overall size of the select. Width is set via the <a href="#section-width">width</a> parameter. Each size has an associated width it will use unless you override it.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>tiny</li>
  <li>small</li>
  <li>medium (default)</li>
  <li>large</li>
</ul>
<p>
  Additional sizes can be added via CSS. See {{link-to "Theming" "documentation.theming"}}
</p>

<pre>\{{#eui-select placeholder="Select a country" options=countries size='tiny' as |option index|}}
  \{{option.label}}
\{{/eui-select}}

\{{#eui-select placeholder="Select a country" options=countries size='small' as |option index|}}
  \{{option.label}}
\{{/eui-select}}

\{{#eui-select placeholder="Select a country" options=countries size='medium' as |option index|}}
  \{{option.label}}
\{{/eui-select}}

\{{#eui-select placeholder="Select a country" options=countries size='large' as |option index|}}
  \{{option.label}}
\{{/eui-select}}</pre>

<div class="output">
  {{#eui-select placeholder="Select a country" options=countries size='tiny' as |option index|}}
    {{option.label}}
  {{/eui-select}}

  {{#eui-select placeholder="Select a country" options=countries size='small' as |option index|}}
    {{option.label}}
  {{/eui-select}}

  {{#eui-select placeholder="Select a country" options=countries size='medium' as |option index|}}
    {{option.label}}
  {{/eui-select}}

  {{#eui-select placeholder="Select a country" options=countries size='large' as |option index|}}
    {{option.label}}
  {{/eui-select}}
</div>


<h4 id="section-style">style <span>string</span></h4>
<p>
  Aesthetic style of the select. The styles are shared with the <em>button</em> component.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>default (default)</li>
  <li>primary</li>
</ul>

<pre>\{{#eui-select placeholder="Select a country" options=countries style='default' as |option index|}}
  \{{option.label}}
\{{/eui-select}}

\{{#eui-select placeholder="Select a country" options=countries style='primary' as |option index|}}
  \{{option.label}}
\{{/eui-select}}</pre>

<div class="output">
  {{#eui-select placeholder="Select a country" options=countries style='default' as |option index|}}
    {{option.label}}
  {{/eui-select}}

  {{#eui-select placeholder="Select a country" options=countries style='primary' as |option index|}}
    {{option.label}}
  {{/eui-select}}
</div>



<h4 id="section-width">width <span>string</span></h4>
<p>
  Width of the select. You must pass in a CSS size value with the unit. The select uses CSS box-sizing to ensure precentage-based sizes are actual sizes.
</p>

<pre>\{{#eui-select placeholder="150px" options=countries width="150px" as |option index|}}
  \{{option.label}}
\{{/eui-select}}

\{{#eui-select placeholder="15em" options=countries width="15em" as |option index|}}
  \{{option.label}}
\{{/eui-select}}

\{{#eui-select placeholder="30%" options=countries width="30%" as |option index|}}
  \{{option.label}}
\{{/eui-select}}</pre>

<div class="output">
  {{#eui-select placeholder="150px" options=countries width="150px" as |option index|}}
    {{option.label}}
  {{/eui-select}}

  {{#eui-select placeholder="15em" options=countries width="15em" as |option index|}}
    {{option.label}}
  {{/eui-select}}

  {{#eui-select placeholder="30%" options=countries width="30%" as |option index|}}
    {{option.label}}
  {{/eui-select}}
</div>


<h4 id="section-disabled">disabled <span>boolean</span></h4>
<p>
  Disables the select.
</p>

<pre>\{{#eui-select placeholder="Select a Country" disabled=true options=countries as |option index|}}
  \{{option.label}}
\{{/eui-select}}

\{{#eui-select value=1 disabled=true options=countries as |option index|}}
  \{{option.label}}
\{{/eui-select}}</pre>

<div class="output">
  {{#eui-select placeholder="Select a Country" disabled=true options=countries as |option index|}}
    {{option.label}}
  {{/eui-select}}

  {{#eui-select disabled=true value=1 options=countries as |option index|}}
    {{option.label}}
  {{/eui-select}}
</div>


<h4 id="section-options">options <span>array</span></h4>
<p>
  An array of options for the user to select from.
</p>

<pre>countries: [
  { label: 'Canada', value: 1 }
  { label: 'United Sates', value: 2 }
  { label: 'Mexico', value: 3 }
]</pre>

<pre>users: [
  Ember.Object.create({
    name: 'John',
    email: 'john@gmail.com',
    value: '1'
  }), Ember.Object.create({
    name: 'Mark',
    email: 'mark@gmail.com',
    value: '2'
  }), Ember.Object.create({
    name: 'Richard',
    email: 'richard@gmail.com',
    value: '3'
  })
]</pre>


<h4 id="section-placeholder">placeholder <span>string</span></h4>
<p>
  Placeholder value for the select.
</p>

<pre>\{{#eui-select placeholder="Select a Country" doptions=countries as |option index|}}
  \{{option.label}}
\{{/eui-select}}</pre>

<div class="output">
  {{#eui-select placeholder="Select a Country" options=countries as |option index|}}
    {{option.label}}
  {{/eui-select}}
</div>


<h4 id="section-required">required <span>boolean</span></h4>
<p>
  If set to true no blank option will be inserted into the option list. Defaults to <em>false</em>
</p>


<h4 id="section-selection">selection <span>object</span></h4>
<p>
  The currently selected option. <em>null</em> if nothing is selected.
</p>


<h4 id="section-value">value <span>object</span></h4>
<p>
  Uses the <em>valuePath</em> property to look up the value of the current <em>selection</em>.
</p>
<p>
  If you do not specify a <em>selection</em> for the select, then the <em>value</em> and <em>valuePath</em> properties will be used to find the option that corresponds with the value in the list of <em>options</em>. The corresponding option will then be assigned to the <em>selection</em> as its initial value.
</p>


<h4 id="section-valuepath">valuePath <span>string</span></h4>
<p>
  Path to the value property for each of the <em>options</em>. Default path is 'value'.
</p>


<h4 id="section-error">error <span>boolean | string</span></h4>
<p>
  Responsible for validation and error handling. See {{link-to "Error Handling" "documentation.errorhandling"}}
</p>


<h4 id="section-forceerrorcheck">forceErrorCheck <span>boolean</span></h4>
<p>
  If set to <em>true</em> the select will force an error check, even if the value is blank.
</p>


<h4 id="section-onchange">onChange <span>string | action</span></h4>
<p>
  If you specify an <em>onChange</em> action the original selection will not be changed and instead your action will be fired with the new value.
</p>
