<h1>&#123;&#123;eui-button&#125;&#125;</h1>

<div class="intro">
  A configurable button that automatically shifts between a regular button, dropbutton, and splitbutton.
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-label">label</a></li>
  <li><a href="#section-size">size</a></li>
  <li><a href="#section-style">style</a></li>
  <li><a href="#section-icon">icon</a></li>

  <li class="header">States</li>
  <li><a href="#section-disabled">disabled</a></li>
  <li><a href="#section-loading">loading</a></li>

  <li class="header">Actions</li>
  <li><a href="#section-action">action</a></li>

  <li class="header">Error Handling</li>
  <li><a href="#section-errorMessage">errorMessage</a></li>
</ul>

<h4 id="section-label">label <span>string</span></h4>
<p>
  The text displayed on the button.
</p>

<pre>{{view.exampleLabel}}</pre>

<div class="output">
  {{eui-button label='Save Changes'}}
</div>


<h4 id="section-size">size <span>string</span></h4>
<p>
  Controls the size of the button.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>tiny</li>
  <li>small</li>
  <li>medium (default)</li>
  <li>large</li>
</ul>
<p>
  Additional sizes can be added via CSS. See <a href="###">Styles &amp; Theming</a>
</p>

<pre>{{view.exampleSize}}</pre>

<div class="output">
  {{eui-button label='Save Changes' size='tiny'}}
  {{eui-button label='Save Changes' size='small'}}
  {{eui-button label='Save Changes' size='medium'}}
  {{eui-button label='Save Changes' size='large'}}
</div>


<h4 id="section-style">style <span>string</span></h4>
<p>
  Controls the aesthetic style of the button.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>secondary (default)</li>
  <li>primary</li>
</ul>
<p>
  Additional styles can be added via CSS. See <a href="###">Styles &amp; Theming</a>
</p>

<pre>{{view.exampleStyle}}</pre>

<div class="output">
  {{eui-button label='Save Changes' style='secondary'}}
  {{eui-button label='Save Changes' style='primary'}}
</div>


<h4 id="section-icon">icon <span>string</span></h4>
<p>
  Displays an icon in front of the label. If no label is set, the button will show up square with the icon centered.
</p>
<p>
  Pass in a class that will get assgined to a <em>&lt;b&gt;</em> tag inside the button label. You can customize the icon with the css <em>:before</em> selector or set a background image on the tag if icon fonts are not to be used.
</p>

<p>
  The example uses <a href="http://fontawesome.io/">FontAwesome</a> for its icons.
</p>

<pre>{{view.exampleIcon}}</pre>

<div class="output">
  {{eui-button label='Settings' icon='fa fa-cog'}}
  {{eui-button icon='fa fa-cog'}}
</div>


<h4 id="section-disabled">disabled</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>

<h4 id="section-loading">loading</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>

<h4 id="section-action">action</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>

<h4 id="section-errorMessage">errorMessage</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>
