<h1>&#123;&#123;eui-button&#125;&#125;</h1>

<div class="intro">
  A flexible button that shifts between a regular button, dropbutton, and splitbutton depending on need.
</div>

<h2>Aesthetic</h2>

<h4>label <span>string</span></h4>
<p>
  The text displayed on the button.
</p>

<pre>{{view.exampleLabel}}</pre>

<div class="output">
  {{eui-button label='Save Changes'}}
</div>


<h4>size <span>string</span></h4>
<p>
  Controls the size of the button.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>tiny</li>
  <li>small</li>
  <li>medium (default)</li>
  <li>large</li>
</ul>

<pre>{{view.exampleSize}}</pre>

<div class="output">
  {{eui-button label='Save Changes' size='tiny'}}
  {{eui-button label='Save Changes' size='small'}}
  {{eui-button label='Save Changes' size='medium'}}
  {{eui-button label='Save Changes' size='large'}}
</div>


<h4>style <span>string</span></h4>
<p>
  Controls the aesthetic style of the button.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>secondary (default)</li>
  <li>primary</li>
</ul>

<pre>{{view.exampleStyle}}</pre>

<div class="output">
  {{eui-button label='Save Changes' style='secondary'}}
  {{eui-button label='Save Changes' style='primary'}}
</div>


<h4>icon <span>string</span></h4>
<p>
  Displays an icon in front of the label. If no label is set, the button will show up square with the icon centered.
</p>
<p>
  Pass in a class that will get assgined to a <em>&lt;b&gt;</em> tag inside the button label. You can customize the icon with the css <em>:before</em> selector or set a background image on the tag if icon fonts are not to be used.
</p>

<p>
  The example uses <a href="http://fontawesome.io/">FontAwesome</a> for its icons.
</p>

<pre>{{view.exampleIcon}}</pre>

<div class="output">
  {{eui-button label='Settings' icon='fa fa-cog'}}
  {{eui-button icon='fa fa-cog'}}
</div>


<h2>Actions</h2>

<h4>Single</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>

<h4>Multiple</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>


<h2>States</h2>

<h4>disabled</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>

<h4>loading</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>

<h2>Error Handling</h2>

<h4>hasError</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>

<h4>errorMessage</h4>
<p>
  The text displayed on top of the button. Don’t assign it if you don’t want a label.
</p>
