<h1>\{{eui-checkbox}}</h1>

<div class="intro">
  A reimplementation of the browser checkbox input to support custom styling.
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-class">class</a></li>
  <li><a href="#section-label">label</a></li>
  <li><a href="#section-size">size</a></li>
  <li><a href="#section-style">style</a></li>

  <li class="header">States</li>
  <li><a href="#section-disabled">disabled</a></li>
</ul>


<h4 id="section-class">class <span>string</span></h4>
<p>
  Assigns a custom CSS class to the checkbox.
</p>


<h4 id="section-label">label <span>string</span></h4>
<p>
  The text displayed next to the checkbox.
</p>

<pre>\{{eui-checkbox label='Remember me'}}</pre>

<div class="output">
  {{eui-checkbox label='Remember me'}}
</div>


<h4 id="section-label">disabled <span>boolean</span></h4>
<p>
  Prevents the user from changing the value of the checkbox.
</p>

<pre>\{{eui-checkbox label='Enabled' disabled=true}}</pre>

<div class="output">
  {{eui-checkbox label='Unchecked' disabled=true}}
  {{eui-checkbox label='Checked' value=true disabled=true}}
</div>

