<h1>&#123;&#123;eui-input&#125;&#125;</h1>

<div class="intro">
  A reimplementation of the standard browser text input with added support for validation and error handling.
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Attributes</li>
  <li><a href="#section-type">type</a></li>
  <li><a href="#section-placeholder">placeholder</a></li>

  <li class="header">Aesthetic</li>
  <li><a href="#section-style">style</a></li>
  <li><a href="#section-size">size</a></li>
  <li><a href="#section-width">width</a></li>

  <li class="header">States</li>
  <li><a href="#section-disabled">disabled</a></li>

  <li class="header">Error Handling</li>
  <li><a href="#section-hasError">hasError</a></li>
  <li><a href="#section-errorMessage">errorMessage</a></li>
</ul>

<h4 id="section-size">size <span>string</span></h4>
<p>
  Controls the overall size of the input. Width is set via the width parameter.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>tiny</li>
  <li>small</li>
  <li>medium (default)</li>
  <li>large</li>
</ul>
<p>
  Additional sizes can be added via CSS. See <a href="###">Styles &amp; Theming</a>
</p>

<pre>{{view.exampleSize}}</pre>

<div class="output">
  {{eui-input size='tiny'}}
  {{eui-input size='small'}}
  {{eui-input size='medium'}}
  {{eui-input size='large'}}
</div>

