<h1>\{{eui-input}}</h1>

<div class="intro">
  A reimplementation of the standard browser text input with added support for error handling.
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-size">size</a></li>
  <li><a href="#section-style">style</a></li>
  <li><a href="#section-width">width</a></li>

  <li class="header">States</li>
  <li><a href="#section-disabled">disabled</a></li>

  <li class="header">Attributes</li>
  <li><a href="#section-action">action</a></li>
  <li><a href="#section-type">type</a></li>
  <li><a href="#section-placeholder">placeholder</a></li>
  <li><a href="#section-value">value</a></li>

  <li class="header">Error Handling</li>
  <li><a href="#section-error">error</a></li>
  <li><a href="#section-forceerrorcheck">forceErrorCheck</a></li>
</ul>


<h4 id="section-size">size <span>string</span></h4>
<p>
  The overall size of the input. Width is set via the <a href="#section-width">width</a> parameter.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>tiny</li>
  <li>small</li>
  <li>medium (default)</li>
  <li>large</li>
</ul>
<p>
  Additional sizes can be added via CSS. See {{link-to "Theming" "documentation.theming"}}
</p>

<pre>\{{eui-input size='tiny'}}
\{{eui-input size='small'}}
\{{eui-input size='medium'}}
\{{eui-input size='large'}}</pre>

<div class="output">
  {{eui-input size='tiny'}}
  {{eui-input size='small'}}
  {{eui-input size='medium'}}
  {{eui-input size='large'}}
</div>


<h4 id="section-style">style <span>string</span></h4>
<p>
  Aesthetic style of the input.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>default (default)</li>
</ul>


<h4 id="section-width">width <span>string</span></h4>
<p>
  Width of the input. You must pass in a CSS size value with the unit. The input uses CSS box-sizing to ensure precentage based sizes are actual sizes.
</p>

<pre>\{{eui-input width='150px' placeholder='150px'}}
\{{eui-input width='15em' placeholder='15em'}}
\{{eui-input width='30%' placeholder='30%'}}</pre>

<div class="output">
  {{eui-input width='150px' placeholder='150px'}}
  {{eui-input width='15em' placeholder='15em'}}
  {{eui-input width='30%' placeholder='30%'}}
</div>


<h4 id="section-disabled">disabled <span>boolean</span></h4>
<p>
  Disables the input.
</p>

<pre>\{{eui-input placeholder='Email Address' disabled=true}}
\{{eui-input value='Email Address' disabled=true}}</pre>

<div class="output">
  {{eui-input placeholder='Email Address' disabled=true}}
  {{eui-input value='Email Address' disabled=true}}
</div>


<h4 id="section-action">action <span>string</span></h4>
<p>
  Action to call if the user presses <em>enter</em>.
</p>


<h4 id="section-type">type <span>string</span></h4>
<p>
  Type of input. Any value entered will be assigned to the type attribute on the input element.
</p>

<h5>Values</h5>
<ul class="defaults">
  <li>text (default)</li>
  <li>password</li>
</ul>


<h4 id="section-placeholder">placeholder <span>string</span></h4>
<p>
  Placeholder value for the input. Does not make use of the placeholder attribute, but instead reimplements the behaviour in html.
</p>

<pre>\{{eui-input placeholder='Email address'}}</pre>

<div class="output">
  {{eui-input placeholder='Email address'}}
</div>


<h4 id="section-value">value <span>string</span></h4>
<p>
  The value of the input.
</p>

<pre>\{{eui-input value='john@example.com'}}</pre>

<div class="output">
  {{eui-input value='john@example.com'}}
</div>


<h4 id="section-error">error <span>boolean | string</span></h4>
<p>
  Responsible for validation and error handling. See {{link-to "Error Handling" "documentation.errorhandling"}}
</p>


<h4 id="section-forceerrorcheck">forceErrorCheck <span>boolean</span></h4>
<p>
  If set to <em>true</em> the input will force an error check, even if the value is blank.
</p>
