<h1>Layout</h1>

<div class="intro">
  All components are available in several sizes to allow for easy layout and a clear hierarchy.
</div>

<p>
  EmberUI does not try to replicate what css frameworks such as Bootstrap tries to do. Components are structured such that they are easy to use together, but if you are expecting a grid framework for layout you will not find it here.
</p>

<p>
  EmberUI will work with css frameworks if you so choose, but if you are writing an ambitious application then you probably should spend some time writing custom layout code and not rely on generic css.
</p>

<h2>Working with components</h2>

<p>
  All components are designed to work together when the same size is specified. Should there be no line break between them they will flow onto the same line and align with each other.
</p>

<pre>\{{eui-input placeholder="Name"}}
\{{eui-input placeholder="Email Address"}}
\{{eui-button label="Signup"}}</pre>

<div class="output">
  {{eui-input placeholder="Name"}}
  {{eui-input placeholder="Email Address"}}
  {{eui-button label="Signup"}}
</div>

<p>
  Components are set to display as inline-block items via css. Should you put two components next to each other of different sizes they will vertically align with each other.
</p>

<pre>\{{eui-input placeholder="Todo" size="large"}}
\{{eui-button label="Add" size="small"}}</pre>

<div class="output">
  {{eui-input placeholder="Todo" size="large"}}
  {{eui-button label="Add" size="small"}}
</div>

<p>
  Obviously you may not want to mix sizes as demonstrated, but it is important to understand how components interact with each other.
</p>
