<h1>\{{eui-select}}</h1>

<div class="intro">
  ...
</div>

<br/>
<br/>

{{eui-dropbutton label='Actions' size='small' options=options}}
{{eui-dropbutton label='Actions' size='small' options=optionsPrimary}}

<br/>
<br/>

{{eui-select placeholder='Select one' required=true selection=testselectionOne valueBinding='testValueOne' valuePath='action' labelPath='label' size='small' optionsBinding='options'}}
{{eui-select placeholder='Select one' selection=testselectionOne valueBinding='testValueOne' valuePath='action' labelPath='label' size='small' width="100px" optionsBinding='options'}}

{{eui-select placeholder='Select one' selection=testselectionOne valueBinding='testValueOne' error=testselectionOne.label valuePath='action' labelPath='label' optionsBinding='options'}}
{{eui-select required=true valuePath='action' labelPath='label' optionsBinding='nooptions'}}

<br/>
<br/>
<br/>
<br/>

{{eui-select placeholder='Select one' valuePath='value' labelPath='name' optionsBinding='bigOptionList'}}
{{eui-button label="Add 5000 Options" action="generateOptions"}}

<br/>
<br/>
<br/>
<br/>

{{testselectionOne}}-{{testValueOne}} <br/>
{{testselectionTwo}}--{{testValueTwo}}

<br/>
<br/>

{{#each options}}
  {{eui-input value=label}}
{{/each}}
