<h1>\{{eui-select}}</h1>

<div class="intro">
  ...
</div>

{{eui-dropbutton label='Actions' size='small' options=options}}
{{eui-dropbutton label='Actions' size='small' options=optionsPrimary}}

{{eui-select placeholder='Select one' selected=testSelectedOne valueBinding='testValueOne' valuePath='action' labelPath='label' size='small' optionsBinding='options'}}
{{eui-select placeholder='Select one' selected=testSelectedTwo valueBinding='testValueTwo' valuePath='value' labelPath='name' optionsBinding='bigOptionList' style="primary"}}

{{testSelectedOne}}-{{testValueOne}} <br/>
{{testSelectedTwo}}--{{testValueTwo}}
