<h1>\{{eui-select}}</h1>

<div class="intro">
  A reimplementation of the standard browser select with added support for validation, error handling, and search.
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-size">size</a></li>
  <li><a href="#section-style">style</a></li>

  <li class="header">States</li>
  <li><a href="#section-disabled">disabled</a></li>

  <li class="header">Attributes</li>
  <li><a href="#section-labelpath">labelPath</a></li>
  <li><a href="#section-placeholder">placeholder</a></li>
  <li><a href="#section-selection">selection</a></li>
  <li><a href="#section-value">value</a></li>
  <li><a href="#section-valuepath">valuePath</a></li>

  <li class="header">Error Handling</li>
  <li><a href="#section-error">error</a></li>
  <li><a href="#section-required">required</a></li>
</ul>

<h4 id="section-size">size <span>string</span></h4>
<p>
  .
</p>


<h4 id="section-style">style <span>string</span></h4>
<p>
  .
</p>


<h4 id="section-disabled">disabled <span>boolean</span></h4>
<p>
  .
</p>


<h4 id="section-labelpath">labelPath <span>string</span></h4>
<p>
  .
</p>


<h4 id="section-placeholder">placeholder <span>string</span></h4>
<p>
  .
</p>


<h4 id="section-selection">selection <span>object</span></h4>
<p>
  .
</p>


<h4 id="section-value">value <span>string</span></h4>
<p>
  .
</p>


<h4 id="section-valuepath">valuePath <span>string</span></h4>
<p>
  .
</p>


<h4 id="section-error">error <span>string</span></h4>
<p>
  .
</p>


<h4 id="section-required">required <span>string</span></h4>
<p>
  .
</p>









<br/>
<br/>

{{eui-dropbutton label='Actions' size='small' options=options}}
{{eui-dropbutton label='Actions' size='small' options=optionsPrimary}}

<br/>
<br/>

{{eui-select placeholder='Select one' required=true selection=testselectionOne valueBinding='testValueOne' valuePath='action' labelPath='label' size='small' optionsBinding='options'}}
{{eui-select placeholder='Select one' selection=testselectionOne valueBinding='testValueOne' valuePath='action' labelPath='label' size='small' width="100px" optionsBinding='options'}}

{{eui-select placeholder='Select one' selection=testselectionOne valueBinding='testValueOne' error=testselectionOne.label valuePath='action' labelPath='label' optionsBinding='options'}}
{{eui-select required=true valuePath='action' labelPath='label' optionsBinding='nooptions'}}

<br/>
<br/>
<br/>
<br/>

{{eui-select placeholder='Select one' valuePath='value' labelPath='name' optionsBinding='bigOptionList'}}
{{eui-button label="Add 5000 Options" action="generateOptions"}}

<br/>
<br/>
<br/>
<br/>

{{testselectionOne}}-{{testValueOne}} <br/>
{{testselectionTwo}}--{{testValueTwo}}

<br/>
<br/>

{{#each options}}
  {{eui-input value=label}}
{{/each}}
