<div class="container">
  <div class="docs-navigation">
    <h6 class="fa fa-lightbulb-o">Concepts</h6>
    <ul>
      <li>{{link-to "Sizing &amp; Layout" "documentation.sizingandlayout"}}</li>
      <li>{{link-to "Styles &amp; Theming" "documentation.stylesandtheming"}} </li>
      <li>{{link-to "Error Handling" "documentation.errorhandling"}}</li>
    </ul>

    <h6 class="fa fa-cogs">Components</h6>
    <ul>
      <li>{{link-to "Button" "documentation.button"}}</li>
      <li>{{link-to "Dropbutton" "documentation.dropbutton"}}</li>
      <li>{{link-to "Input" "documentation.input"}}</li>
      <li>{{link-to "Textarea" "documentation.textarea"}}</li>
      <li>{{link-to "Popup" "documentation.popup"}}</li>
    </ul>
  </div>

  <div class="docs-content">
    {{outlet}}
  </div>
</div>
