<div class="container">
  <div class="docs-navigation">
    <ul>
      <li>{{link-to "Introduction" "documentation.index"}}</li>
    </ul>

    <h6 class="fa fa-lightbulb-o">Concepts</h6>
    <ul>
      <li>{{link-to "Layout" "documentation.layout"}}</li>
      <li>{{link-to "Theming" "documentation.theming"}} </li>
      <li>{{link-to "Error Handling" "documentation.errorhandling"}}</li>
    </ul>

    <h6 class="fa fa-puzzle-piece">Components</h6>
    <ul>
      <li>{{link-to "Button" "documentation.button"}}</li>
      <li>{{link-to "Checkbox" "documentation.checkbox"}}</li>
      <li>{{link-to "Dropbutton" "documentation.dropbutton"}}</li>
      <li>{{link-to "Input" "documentation.input"}}</li>
      <li>{{link-to "Modal" "documentation.modal"}}</li>
      <li>{{link-to "Select" "documentation.select"}}</li>
      <li>{{link-to "Textarea" "documentation.textarea"}}</li>
    </ul>

    <h6 class="fa fa-lock">Internal</h6>
    <ul>
      <li>{{link-to "Poplist" "documentation.poplist"}}</li>
    </ul>
  </div>

  <div class="docs-content">
    {{outlet}}
  </div>
</div>
